/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background: #FD9A3C;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
    background: #3C9FFD;
    color: #303337;
    font-family: "Roboto", serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.01em;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #FD9A3C;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 10px;
    font-weight: 300;
}

/* Nav bar */
.navbar {
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 15px 30px;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

.navbar a:hover {
    font-weight: 500;
    cursor: pointer;
    color: black;
}

/* Full-Screen Sections */
section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Hero Section */
#hero {
    display: flex;
    flex-direction: column;
    color: #303337;
}

.hero-logo {
    width: 150px;
}

.hero-title {
    font-size: 50px;
    font-weight: 500;
    margin: 30px 0 20px 0;
}

.hero-subtitle {
    font-size: 30px;
    font-weight: 400;
    margin: 10px;
}

/* Social Links */
.social-links {
    text-align: center;
    font-size: 15px;
    margin: 10px;
}

.social-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.social-links ul li {
    margin: 0 5px;
}

.social-links ul li a {
    color: #303337;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links ul li a:hover {
    color: black;
}

/* Scroll Down */
.scroll-down-arrow {
    position: absolute;
    bottom: 60px;
    animation-name: up-down;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.scroll-down-arrow a {
    color: #303337;
    text-decoration: none;
}

/* About Me Section Styling */
#about-me {
    padding: 50px 20px;
    color: #303337;
    text-align: left;
}

.about-me-content {
    max-width: 800px;
    margin: 0 auto;
}

.about-me-title {
    font-size: 2rem;
    margin-bottom: 30px;
    color: #303337;
    text-align: center;
}

#about-me p {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 20px;
    color: #303337;
    font-weight: 400;
}

/* Services */
#services {
    padding: 50px 20px;
    flex-direction: column;
    text-align: center;
}

.service-title {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #303337;
}

/* Grid Layout */
.service-grid {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

/* Service Item Styling */
.service-item {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 30vw;
    text-wrap: wrap;
}

.service-item i {
    font-size: 40px;
    color: #3c9ffd;
    margin-bottom: 15px;
}

.service-item h3 {
    font-size: 1.2rem;
    color: #3c9ffd;
    margin-bottom: 10px;
}

.service-item p {
    font-size: 0.9rem;
    color: #303337;
}

.service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Latest Works section */
#works {
    padding: 50px 20px;
    text-align: center;
    flex-direction: column;
}

#posts {
    padding: 50px 20px;
    text-align: center;
    flex-direction: column;
}

/* Items and Grid for show */
.grid-title {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #303337;
}

.grid-items-list {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}

.grid-item {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    text-align: left;
    transition: transform 0.3s ease;
    text-decoration: none;
    color: inherit;
}

.grid-item img {
    width: 100%;
    height: auto;
    display: block;
    border-bottom: 2px solid #FD9A3C;
}

.grid-item h3 {
    font-size: 1.5rem;
    margin: 15px;
    color: #3C9FFD;
}

.grid-item p {
    font-size: 1rem;
    margin: 0 15px 15px;
}

.grid-item:hover {
    transform: translateY(-10px);
}

/* Show More Button */
.show-more {
    margin-top: 40px;
}

.show-more a {
    background-color: #303337;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.show-more a:hover {
    background-color: white;
    color: #303337;
}

/* Footer text */
footer a {
    text-decoration: none;
    color: #1d2b5a;
    font-weight: 350;
}

footer a:hover {
    text-decoration: underline;
    color: #041553;
}

/* Styles for tablets and small screens */
@media (max-width: 768px) {

}

/* Styles for mobile phones */
@media (max-width: 480px) {

}

/* Animations */
@keyframes up-down {
    0% {
        bottom: 50px
    }
    100% {
        bottom: 40px
    }
}