/* General */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background: #FD9A3C;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

body {
    background: #3C9FFD;
    color: black;
    font-family: "Roboto", serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.01em;
    overflow-x: hidden;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #FD9A3C;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 10px;
    font-weight: 300;
}

/* Nav bar */
.navbar {
    padding: 0;
    display: flex;
    justify-content: center;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 15px 30px;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.7);
}

.navbar a:hover {
    font-weight: 500;
    cursor: pointer;
    color: black;
}

/* Full-Screen Sections */
section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Hero Section */
#hero {
    display: flex;
    flex-direction: column;
    color: #303337;
}

.hero-logo {
    width: 150px;
}

.hero-title {
    font-size: 50px;
    font-weight: 500;
    margin: 30px 0 20px 0;
}

.hero-subtitle {
    font-size: 30px;
    font-weight: 400;
    margin: 10px;
}

/* Social Links Section */
.social-links {
    text-align: center;
    font-size: 15px;
    margin: 10px;
}

.social-links ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.social-links ul li {
    margin: 0 5px;
}

.social-links ul li a {
    color: #303337;
    text-decoration: none;
    transition: color 0.3s ease;
}

.social-links ul li a:hover {
    color: black;
}

.scroll-down-arrow {
    position: absolute;
    bottom: 60px;
    animation-name: up-down;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

.scroll-down-arrow a {
    color: #303337;
    text-decoration: none;
}

#about {
    background-color: #e74c3c;
}

#services {
    background-color: #2ecc71;
}

#works {
    background-color: #9b59b6;
}

#posts {
    background-color: #b6b159;
}

/* Footer text */
footer a {
    text-decoration: none;
    color: #1d2b5a;
    font-weight: 350;
}

footer a:hover {
    text-decoration: underline;
    color: #041553;
}

/* Styles for tablets and small screens */
@media (max-width: 768px) {

}

/* Styles for mobile phones */
@media (max-width: 480px) {

}

/* Animations */
@keyframes up-down {
    0% {
        bottom: 50px
    }
    100% {
        bottom: 40px
    }
}