body{
    align-items: center; !important;
}

.contact_box {
    width: 40vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid white 2pt;
    color: white;
    border-radius: 3pt;
    background-color: rgba(0, 0, 0, 0.3);
}

.contact_box .about_name{
    font-size: 30pt;
    margin-top: 10pt;
}

.contact_box .about_job_title{
    font-size: 15pt;
}

.contact_box .socials{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contact_box .social_item{
    margin: 3pt;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    font: 13pt "Segoe UI";
}

.contact_box .fa{
    padding: 5pt;
    border-radius: 3pt;
}

.contact_box .address:hover{
    color: white;
    background-color: #fbb03b;
    transition: all 0.2s ease-in-out;
}

.contact_box .phone:hover{
    color: white;
    background-color: #439fd3;
    transition: all 0.2s ease-in-out;
}

.contact_box .email:hover{
    color: white;
    background-color: #dd4b39;
    transition: all 0.2s ease-in-out;
}

.contact_box .whatsapp:hover{
    color: white;
    background-color: #075e54;
    transition: all 0.2s ease-in-out;
}

.contact_box .github:hover{
    color: white;
    background-color: #333;
    transition: all 0.2s ease-in-out;
}

.contact_box .linkedin:hover{
    color: white;
    background-color: #0077b5;
    transition: all 0.2s ease-in-out;
}

.contact_box .codepen:hover{
    color: white;
    background-color: #ae63e4;
    transition: all 0.2s ease-in-out;
}

.contact_box .dribbble:hover{
    color: white;
    background-color: #ea4c89;
    transition: all 0.2s ease-in-out;
}

.line{
    width: 100%;
    height: 1pt;
    background-color: white;
    border: none;
    margin: 10pt;
}