html{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
    padding: 5pt;
}
body{
    background-image: url("../images/blurred_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font: 300 100% "Segoe UI";
    margin: 0;
    padding: 5pt;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-direction: column;
}

.topnav {
    width: 100vw;
}

.topnav a {
    float: left;
    display: inline-block;
    color: rgba(255, 255, 255, 0.7);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15pt;
}

.topnav a:hover{
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;
    text-decoration-color: white;
    transition: all 0.2s ease-in-out;
}

.topnav a.active{
    color: rgba(255, 255, 255, 1);
    text-decoration: underline;
    text-decoration-color: white;
    font: 15pt "Segoe UI Semibold";
}

ul li {
    display: inline;
    text-align: center;
}

.caption{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    margin-left: 100pt;
}

.caption .name{
    font-size: 60pt;
}

.caption .title{
    font-size: 25pt;
    margin-top: 10pt;
}

.caption .title button.cv-download-btn{
    background-color: #e1e1e1;
    border: thin solid #e1e1e1;
    border-radius: 3pt;
    color: #2a2529;
    font-size: 12pt;
    font-weight: lighter;
    padding: 5pt 5pt 6pt;
    cursor: pointer;
    transition-duration: 0.2s;
    vertical-align: bottom;
}
.caption .title button.cv-download-btn:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: transparent;
    color: white;
}